{% extends 'layouts.scaffold' %}

{% block main %}

<h1>Edit Country</h1>
{{ form_model(country, {'method' : 'PATCH', 'route' : ['countries.update', country.slug]}) }}
<table class="table table-striped table-bordered">
	<tbody>
		<tr>
			<th>
				{{ form_label('name', trans('eurovote.model.name')) }}
			</th>

			<td>
				{{ form_text('name', null, {'class':'form-control'}) }}
			</td>
		</tr>

		<tr>
			<th>
				{{ form_label('name_native', trans('eurovote.model.name_native')) }}
			</th>

			<td>
				{{ form_arrayField('text', 'name_native', country.name_native, true, {'class':'form-control'}) }}
			</td>
		</tr>

		<tr>
			<th>
				{{ form_label('sortas', trans('eurovote.model.sortas')) }}
			</th>

			<td>
				{{ form_text('sortas', null, {'class':'form-control'}) }}
			</td>
		</tr>

		<tr>
			<th>
				{{ form_label('slug',trans('eurovote.model.slug')) }}
			</th>

			<td>
				{{ form_text('slug', null, {'class':'form-control'}) }}
			</td>
		</tr>

		<tr>
			<th>
				{{ form_label('disambig', trans('eurovote.model.disambig')) }}
			</th>

			<td>
				{{ form_text('disambig', null, {'class':'form-control'}) }}
			</td>
		</tr>

		<tr>
			<th>
				{{ form_label('descr', trans('eurovote.model.descr')) }}
			</th>

			<td>
				{{ form_textarea('descr', null, {'class':'form-control'}) }}
			</td>
		</tr>

		<tr>
			<th>
				{{ form_label('code', trans('eurovote.model.code')) }}
			</th>

			<td>
				{{ form_text('code', null, {'class':'form-control'}) }}
			</td>
		</tr>

		<tr>
			<th>
				{{ form_label('is_former', trans('eurovote.model.is_former')) }}
			</th>

			<td>
				{{ form_checkbox('is_former') }}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				{{ form_submit('Update', {'class' : 'btn btn-info'}) }}
				{{ link_to_route('countries.show', 'Cancel', country.slug, {'class' : 'btn'}) }}
			</td>
		</tr>
	</tbody>
</table>
{{ form_close() }}

@if (errors.any())
<ul>
	{{ implode('', errors.all('<li class="error">:message</li>')) }}
</ul>
@endif

{% endblock %}
